body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}


header {
    padding: 20px;
    background: #1e293b;
}


nav {
    background: #020617;
    padding: 15px;
}


nav a {
    color: #38bdf8;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 6px;
}


nav a:hover {
    background: #1e293b;
}


nav a.active {
    background: #38bdf8;
    color: #020617;
    font-weight: bold;
}


nav a:hover {
    text-decoration: underline;
}


.card {
    background: #1e293b;
    width: 70%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
}


pre {
    background: #1a1a1a;
    color: #00ff95;
    padding: 15px;
    border-radius: 10px;
    font-family: monospace;
    overflow-x: auto;
    border: 1px solid #333;
}


h2 {
color: #7dd3fc;
}

.btn-group {
    display: flex;
    justify-content: center; 
    gap: 10px;
    margin-top: 12px;
}

.btn-group button {
    font-size: 13px;
    padding: 5px 12px;     
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
    min-width: 90px;
    margin-top: 5px;        
}

.run-btn {
    background-color: #04AA6D;
    color: white;
}

.run-btn:hover {
    background-color: #03985f;
}

.output-box {
    background: #0d0d0d;
    color: #00ff95;
    padding: 15px;
    border-radius: 10px;
    font-family: monospace;
    white-space: pre-wrap;
    margin-top: 10px;
    border: 1px solid #333;
    min-height: 50px;
}

