body {
margin: 0;
font-family: Arial, sans-serif;
background: #0f172a;
color: white;
text-align: center;
}


header {
padding: 20px;
background: #1e293b;
}


nav {
background: #020617;
padding: 15px;
}


nav a {
color: #38bdf8;
margin: 0 15px;
text-decoration: none;
font-size: 18px;
padding: 6px 12px;
border-radius: 6px;
}


nav a:hover {
background: #1e293b;
}


nav a.active {
background: #38bdf8;
color: #020617;
font-weight: bold;
}


nav a:hover {
text-decoration: underline;
}


.card {
background: #1e293b;
width: 70%;
margin: 30px auto;
padding: 20px;
border-radius: 10px;
}


pre {
background: #020617;
padding: 15px;
text-align: left;
overflow-x: auto;
border-radius: 8px;
}


h2 {
color: #7dd3fc;
}